.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.justify-center {
    justify-content: center;
}


.flex.align-center {
    align-items: center;
}

.flex.justify-between {
    justify-content: space-between;
}

// GRID

.grid {
    display: grid;
}

.grid.align-center {
    align-items: center;
}

.grid.justify-center {
    justify-content: center;
}