.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.justify-center {
    justify-content: center;
}

.flex.justify-end {
    justify-content: end;
}


.flex.align-center {
    align-items: center;
}

.flex.justify-between {
    justify-content: space-between;
}

// GRID

.grid {
    display: grid;
}

.grid.align-center {
    align-items: center;
}

.grid.justify-center {
    justify-content: center;
}

// POSITION 

.relative {
    position: relative;
}

// MODAL

.pointer {
    position: absolute;
    z-index: 21;
    top: rem(-8px);
    left: calc(50% - rem(8px));
    height: rem(16px);
    width: rem(16px);
    background-color: $white;
    transform: rotate(45deg);
}

.modal {
    min-width: rem(360px);
    height: fit-content;
    position: absolute;
    top: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0.5rem;
    box-shadow: 0 8px 16px 0 $modal-shadow-color;
    z-index: 20;
    background-color: $white;
}

// GAP

.gap4 {
    gap: 4px;
}

// BORDER

.focus {
    // margin-inline-start: -0.8px;
    border: 0.8px solid $primary-color !important;

    &.title-col {
        // margin-inline-start: 0;
        border-inline-start: 0 !important;
    }


}