.main-layout {
    display: grid;
    grid-template-columns: rem(40px) minmax(auto, 1fr) rem(40px);

    .full {
        grid-column: 1/-1;
    }

    .middle {
        grid-column: 2;
    }

    .start {
        grid-column: 1;
    }

    .table {
        grid-column: 2/ -1;
    }
}