.dueDate-cell {

    & .inner-container {
        display: grid;
        align-items: center;
        justify-content: center;
        width: 6.875rem;
        height: 1.375rem;
        border-radius: 2em;
        color: white;
        background-color: $default-task-val-bgc;

        &:hover {
            background-color: darken($default-task-val-bgc, 15%);
        }
    }

    & span {
        font-size: 0.813rem;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}