.dueDate-cell {
    & div {
        display: grid;
        align-items: center;
        justify-content: center;
        width: 6.875rem;
        height: 1.375rem;
        border-radius: 2em;
        color: white;
        font-size: 0.813rem;
    }

    & span {
        text-overflow: ellipsis;
        overflow: hidden;
    }
}