.members-cell {
    grid-template-columns: auto max-content auto;

    &>* {
        height: 1.875rem;
        width: 1.875rem;
        border-radius: 50%;

        color: $secondary-background-color;
        margin: 0rem -0.25rem;
        // border: 1px solid gray;

        &:first-of-type {
            margin: 0;
        }

    }
}