.app-index {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
    background-color: $grey-background-color;
}

.main-container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
}