.board-details {
    position: relative;
    padding-block-start: rem(20px);
    padding-inline-start: rem(40px);
    width: 100%;
    background-color: $primary-background-color;
    border-top-left-radius: rem(8px);
    overflow-x: hidden;
}