.task-details {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 30;
    min-width: 570px;
    background-color: $primary-background-color;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.2);

    .drag-btn {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        opacity: 0;
        display: flex;
        align-items: center;
        padding: 0;
        width: 14px;
        border: 0;
        background-color: $members-border;
        transition: opacity .15s ease;
        cursor: col-resize;

        &:hover {
            opacity: 1;
        }
    }

    .header {
        flex: 0 1 auto;
        flex-grow: 0;

        .title-container {
            text-align: left;
            margin: 20px 20px 6px 24px;

            .close-btn-container {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                min-height: 24px;
                margin-inline-start: -6px;

                .close-btn {
                    padding: 0;
                    min-width: min-content;
                    width: 24px;
                    height: 24px;

                    .close-icon {
                        color: #777777;
                        width: 16px;
                        height: 16px;
                    }
                }
            }

            .task-edit-container {
                display: flex;
                align-items: flex-start;
                margin-block-start: 2px;

                .task-title-input {
                    min-width: 440px;
                    min-height: 26px;
                    // overflow: hidden;

                    .headingComponent_c12f87e3d8 {
                        font-size: rem(18px);
                        font-weight: 500;
                        line-height: 24px;
                        font-family: Poppins, Roboto, Noto Sans Hebrew, Noto Kufi Arabic, Noto Sans JP, sans-serif;
                        margin-inline-start: -8px;
                    }

                    .editableInputWrapper_8e7f29624b {
                        margin-inline-start: -8px;

                        &:hover {
                            border-color: black;
                        }
                    }
                }

                .subscribe-container {
                    display: flex;
                    justify-content: end;

                    .subscribe-btn {
                        position: relative;
                        padding: 0;
                        margin-inline-start: 10px;
                        border: 0;
                        background-color: transparent;
                        margin-inline-end: 12px;
                        padding-inline-end: 16px;

                        &::after {
                            content: '';
                            height: rem(16px);
                            position: absolute;
                            top: 8px;
                            right: 0;
                            background-color: #efefef;
                            width: 1px;
                        }

                        .avatar-group {
                            padding: 0;
                            flex-wrap: nowrap;

                            .small_6426ffa7e7 {
                                width: 25px;
                                height: 25px;
                            }
                        }
                    }

                    .subscriber-menu {
                        margin-block-start: -1px;
                        width: 26px;
                        height: 26px;

                        &:active {
                            transform: scale(1);
                        }

                        svg {
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
            }
        }

        .tabs-container {
            padding-inline: 24px;
            border-bottom: 1px solid $table-border;

            .tabsList_d5873650d7 {
                padding: 0;
                padding-block-start: 3px;
            }

            .tab-list {
                margin-block-start: 16px;
                padding: 0;

                .tabWrapper_e21268071d {
                    padding: 0;
                    border-bottom-color: transparent;
                }

                .tab {
                    height: rem(32px);
                    padding: 0;
                    padding-inline: 16px;
                    font-size: rem(14px);
                    margin-inline-start: -1px;
                    margin-block-end: 2px;

                    &::after {
                        content: '';
                        height: rem(16px);
                        position: absolute;
                        top: 8px;
                        right: 0px;
                        background-color: $table-border;
                        width: 1px;
                    }
                }

                .activity-tab {
                    padding-inline-start: 15px;
                }

                .updates-tab {
                    height: rem(32px);
                    padding: 0;
                    padding-inline-start: 8px;
                    padding-inline-end: 15px;
                    font-size: rem(14px);
                    margin-block-end: 2px;

                    svg {
                        margin-inline-end: 7px;
                        width: 16px;
                        height: 16px;
                    }

                    &::after {
                        content: '';
                        height: rem(16px);
                        position: absolute;
                        top: 8px;
                        right: 0px;
                        background-color: $table-border;
                        width: 1px;
                    }
                }
            }
        }
    }

    .main-content {
        .updates {
            margin-block-start: 20px;
            margin-inline: 20px;

            .update-btn {
                border: 1px solid $primary-color;
                background-color: transparent;
                font-size: rem(16px);
                font-family: Figtree, Roboto, "Noto Sans Hebrew", "Noto Kufi Arabic", "Noto Sans JP", sans-serif;
                border-radius: 8px;
                padding: 10px 20px;
                color: $primary-text-color;
                cursor: text;
                transition: color .15s ease;
                width: 100%;
                text-align: left;
                max-width: 750px;

                &:hover {
                    color: $icon-secondary-color;
                    background-color: $primary-background-hover-color;
                }
            }
        }
    }

    // .task-details-content {
    //     display: grid;
    //     grid-auto-flow: column;

    //     .header {

    //         .close-container {
    //             text-align: left;
    //             height: 26px;

    //             .close-btn {
    //                 padding: 0;
    //                 min-width: min-content;
    //                 width: 24px;
    //                 height: 24px;

    //                 .close-icon {
    //                     color: #777777;
    //                     width: 16px;
    //                     height: 16px;
    //                 }
    //             }
    //         }

    //         .task-title-container {
    //             display: grid;
    //             grid-auto-flow: column;

    //             .task-title-input {
    //                 min-width: 450px;
    //                 height: 26px;

    //                 .headingComponent_c12f87e3d8 {
    //                     font-size: rem(18px);
    //                     font-weight: 500;
    //                     line-height: 24px;
    //                     font-family: Poppins, Roboto, Noto Sans Hebrew, Noto Kufi Arabic, Noto Sans JP, sans-serif;
    //                     margin-inline-start: -2px;
    //                 }

    //                 .editableInputWrapper_8e7f29624b {
    //                     &:hover {
    //                         border-color: black;
    //                     }
    //                 }
    //             }

    //             .subscribe-container {
    //                 display: flex;
    //                 justify-content: end;

    //                 .subscribe-btn {
    //                     position: relative;
    //                     padding: 0;
    //                     margin-inline-start: 10px;
    //                     border: 0;
    //                     background-color: transparent;
    //                     margin-inline-end: 12px;
    //                     padding-inline-end: 16px;

    //                     &::after {
    //                         content: '';
    //                         height: rem(16px);
    //                         position: absolute;
    //                         top: 8px;
    //                         right: 0;
    //                         background-color: #efefef;
    //                         width: 1px;
    //                     }

    //                     .avatar-group {
    //                         padding: 0;
    //                         flex-wrap: nowrap;

    //                         .small_6426ffa7e7 {
    //                             width: 25px;
    //                             height: 25px;
    //                         }
    //                     }
    //                 }

    //                 .subscriber-menu {
    //                     margin-block-start: -1px;
    //                     width: 26px;
    //                     height: 26px;

    //                     &:active {
    //                         transform: scale(1);
    //                     }

    //                     svg {
    //                         width: 30px;
    //                         height: 30px;
    //                     }
    //                 }
    //             }

    //         }

    //         .tabs-container {
    //             display: flex;
    //             position: relative;
    //             margin-block-start: 15px;

    //             .tabsList_d5873650d7 {
    //                 padding: 0;
    //             }

    //             .tab-list {
    //                 padding: 0;

    //                 .tabWrapper_e21268071d {
    //                     padding: 0;
    //                     border-bottom-color: transparent;
    //                 }

    //                 .tab {
    //                     height: rem(32px);
    //                     padding: 0;
    //                     padding-inline: 16px;
    //                     font-size: rem(14px);
    //                     margin-inline-start: -1px;
    //                     margin-block-end: 2px;

    //                     &::after {
    //                         content: '';
    //                         height: rem(16px);
    //                         position: absolute;
    //                         top: 8px;
    //                         right: 0px;
    //                         background-color: $table-border;
    //                         width: 1px;
    //                     }
    //                 }

    //                 .updates-tab {
    //                     height: rem(32px);
    //                     padding: 0;
    //                     padding-inline-start: 8px;
    //                     padding-inline-end: 15px;
    //                     font-size: rem(14px);
    //                     margin-block-end: 2px;

    //                     svg {
    //                         margin-inline-end: 7px;
    //                         width: 16px;
    //                         height: 16px;
    //                     }

    //                     &::after {
    //                         content: '';
    //                         height: rem(16px);
    //                         position: absolute;
    //                         top: 8px;
    //                         right: 0px;
    //                         background-color: $table-border;
    //                         width: 1px;
    //                     }
    //                 }
    //             }
    //         }
    //     }

    // }
}





// .task-details {
//     z-index: 30;
//     background-color: $primary-background-color;
//     position: absolute;
//     top: 0;
//     right: 0;
//     height: 100%;
//     min-width: 570px;
//     box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.2);
//     padding: 20px;

//     &>* {
//         margin-bottom: 20px;
//     }

//     .close-btn {
//         padding: 0;
//     }


//     .update-list {
//         border-bottom: 1px solid $primary-background-hover-color;
//         padding: 0;

//         ul {
//             padding: 0;
//         }
//     }

//     .write-update-btn {
//         border: $primary-color solid 0.5px;
//         border-radius: 10px;
//         justify-content: start;
//         margin-block-end: 120px;
//         cursor: text;
//     }

//     .add-update {
//         margin-block-end: 100px;

//         .text-sec {
//             border: $primary-color solid 1px;
//             border-radius: 10px;
//             min-height: 200px;
//             margin-block-end: 10px;

//             .text-tools {
//                 border-bottom: 1px solid $table-border;
//                 padding: 10px;
//             }

//             .update-btn {
//                 left: 0;
//             }
//         }
//     }

//     .updates-container {
//         width: 100%;

//         .update-txt {
//             min-height: 200px;
//             max-height: 300px;
//             border: $primary-background-hover-color solid 1px;
//             border-radius: 10px;
//             padding: 10px;
//             margin-bottom: 20PX;
//         }

//         div {
//             gap: 5px;
//         }

//         h3 {
//             font-weight: normal;
//         }

//         a {
//             color: $inverted-color-background;
//         }
//     }

//     textarea {
//         background-color: $primary-background-color;
//         font-family: 'Poppins', 'Roboto', 'Noto Sans Hebrew', 'Noto Kufi Arabic', 'Noto Sans JP', sans-serif;
//         width: 100%;
//         outline: none;
//         border: none;
//         resize: none;
//         height: 100px;
//         max-height: 400px;
//         padding: 10px;
//     }

//     img {
//         width: 400px;
//         margin-inline: auto;
//     }

//     .no-updates-text {
//         text-align: center;

//         h1 {
//             font-size: 1.7em;
//             margin: 0;
//             margin-block-end: 20px;
//             font-weight: normal;
//         }
//     }
// }