.app-header {
    padding-block: 10px;
    padding-inline-start: 8px;
    padding-inline-end: 34px;

    .switcher-btn {
        margin-inline-end: 4px;
    }

    .logo {
        cursor: pointer;
        font-weight: 300;

        span {
            color: $primary-text-color;
            font-weight: 800;
            font-size: rem(17px);
        }
    }

    .search-btn {
        margin-inline-start: 5px;
    }

    .apps-icon {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: -4px;
            transform: translate(-50%, -50%);
            height: 22px;
            width: .3px;
            background-color: $table-border;
            font-weight: 400;
        }
    }

    .avatar-btn {
        position: relative;
        height: 32px;
        cursor: pointer;
        background-color: $avatar-btn-background-color;
        border: 0;
        display: flex;
        align-items: center;
        padding-inline-end: 28px;
        border-radius: 4px;

        &:hover {
            background-color: $primary-background-hover-color;
        }

        .logo-img {
            width: 24px;
            height: 24px;
        }

        .avatar {
            position: absolute;
            right: -10px;
            width: 32px;
            height: 32px;

            .circleImg_7ac18ef8a4 {
                border: none;
            }
        }

        height: 32px;
    }
}