.app-header {
    padding: 10px;

    .switcher-btn {
        margin-inline-end: 4px;
    }

    .logo {
        cursor: pointer;
        font-weight: 300;

        span {
            color: $primary-text-color;
            font-weight: 800;
            font-size: rem(17px);
        }
    }

    .apps-icon {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(-50%, -50%);
            height: 60%;
            width: .5px;
            background-color: #51515135;
        }
    }

    img {
        padding: 0px;
        height: 20px;
    }
}