.app-header {
    padding: 10px;

    .logo {
        span {
            font-weight: bold;
        }
    }

    .apps-icon {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(-50%, -50%);
            height: 60%;
            width: .5px;
            background-color: #51515135;
        }
    }

    img {
        padding: 0px;
        height: 20px;
    }
}