.dashboard {
    width: 100%;
    // height: 100vh;
    background-color: $grey-background-color;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(6, calc(100% / 6 - rem(8px)));
    gap: 10px;
    padding: rem(10px) rem(10px) rem(10px) 0;
    border-block-start: 1px solid $table-border;

    >* {
        border-radius: rem(8px);
        background-color: $primary-background-color;
        border: 1px solid $table-border;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .overall-progress-container {
        grid-column: 1;
        grid-row: 1/3;
        flex-direction: row;
        width: 100%;
        padding: 0 rem(30px);
        gap: rem(10px);
        overflow-y: hidden;
        overflow-x: auto;
        height: 100%;


        >.doughnut-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            position: relative;
            max-height: 100%;
            max-width: rem(120px);
            white-space: nowrap;
            overflow: hidden;

            h4 {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
                font-weight: 500;
                padding-block-end: rem(3px);
            }

            canvas {
                max-height: rem(100px);
            }
        }

    }

    .members-chart-container {
        grid-column: 1;
        grid-row: 3/-1;
    }

    .date-counter-container {
        grid-column: 2;
        grid-row: 1/4;
    }

    >.doughnut-container {
        grid-column: 2;
        grid-row: 4/-1;


        >div {
            display: flex;
            align-items: center;
            justify-content: center;

            canvas {
                max-width: 100%;
                max-height: 100%;
            }

        }
    }

}