.group-preview {
    position: relative;
    padding-block-end: 1.75rem;

    .group-header {
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: $primary-background-color;

        .title-header {
            height: 2.5rem;

            .items-count {
                margin-inline-start: 4px;
                opacity: 0;
                transition: 0.2s;
                font-size: 0.875rem;
            }

            &:hover {

                .items-count,
                .group-menu {
                    opacity: 1;
                }
            }

            >.group-title {
                margin-inline-start: 6px;
            }

            .group-menu {
                opacity: 0;

                >* {
                    z-index: 100;
                }
            }
        }

        .table-header {

            .table-row {
                border-block-start: 1px solid $table-border;

                h6 {
                    color: $chat-icon-color;
                }
            }
        }
    }


    .table-container {
        border-inline-start: 6px solid;
        padding-inline-end: 0.5rem;
        min-width: 100vw;

        &.first {
            border-top-left-radius: 5px;
        }

        &.last {
            border-bottom-left-radius: 5px;
        }

        >.table-row {
            border-block-end: 1px solid $table-border;
            height: 2.25rem;

            >.task-item {
                border-inline-end: 1px solid $table-border;
                height: 2.25rem;

                &.title-col {
                    min-width: 22.25rem;

                    >.title-name,
                    >.checkbox {
                        height: 2.25rem;
                    }

                    >.checkbox {
                        padding-inline-start: 0.5rem;
                        border-inline-end: 1px solid $table-border;
                    }

                    >.title-name {
                        width: 100%;
                    }
                }

                &.members-col {
                    width: 6.25rem;
                }

                &.status-col {
                    width: 8.75rem;
                }

                &.priority-col {
                    width: 8.75rem;
                }

                &.dueDate-col {
                    width: 8.75rem;
                }
            }
        }
    }

    .group-footer {

        .add-task {

            // background-color: $lighter-grey;

            .title-col {
                border-inline-end: 0;
                box-shadow: 0 8px 9px -9px $table-shadow-color;
            }

            input[type="text"] {
                background-color: transparent;
                border: none;
                outline: none;
                font-size: 0.875rem;
                // padding: 5px 1.625rem;
                border-radius: 3px;
                margin: 6px 10px;
                padding: 2px 0 3px 1rem;
                width: 100%;

                &:focus {
                    border: 1px solid $primary-color;
                }
            }

            &:hover:not(:focus-within) {

                .table-row {
                    background-color: $lighter-grey;
                    box-shadow: 4px 3px 6px -3px $selectable-cluster-border;
                }


                input {
                    border: 1px solid $table-border;
                }
            }

            >.focus-bgc {
                background-color: $primary-selected-color;
            }
        }
    }
}