.group-list {
    // padding: 5px;
    overflow-x: auto;
    white-space: nowrap;

    margin-block-start: 1.125rem;

    &::-webkit-scrollbar {
        position: absolute;
        width: 12px;
    }

    &::-webkit-scrollbar-thumb {
        background: rgb(204, 204, 204);
    }
}