.group-preview {
    position: relative;

    >:first-of-type {
        padding-block-start: 1rem;
    }

    .group-header {
        position: sticky;
        top: 0;
        background-color: $primary-background-color;
        z-index: 2;

        .title-header {
            margin-inline-start: 6px;
            height: 2.5rem;

            .items-count {
                margin-inline-start: 4px;
                opacity: 0;
                transition: 0.2s;
                font-size: 0.875rem;
            }

            &:hover {
                .items-count {
                    opacity: 1;
                }
            }
        }

        .table-header {
            border-block-start: 1px solid $table-border;
        }
    }

    .table-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill) 1fr;
        justify-content: start;
        grid-auto-flow: column;
        height: 2.25rem;
        min-width: 100vw;
        border-block-end: 1px solid $table-border;

        &.progress-bar {
            border-block-end: 0;
        }

        >* {
            // border-block-end: 1px solid $table-border;
            border-inline-start: 1px solid $table-border;
        }

        .side {
            border: 0;
            width: 0.375rem;

            &.first {
                border-top-left-radius: 5px;
            }
        }

        .checkbox {
            border-inline-start: 0;
            width: 2rem;
            padding-inline-start: 0.5rem;
        }

        .title-col {
            width: 22.25rem;
        }

        .members-col {
            width: 6.25rem;
        }

        .status-col {
            width: 8.75rem;
        }

        .priority-col {
            width: 8.75rem;
        }

        .dueDate-col {
            width: 8.75rem;
        }

        .last-col {
            min-width: 4.25rem;
        }
    }

    .start {
        width: 100%;
        opacity: 0;

        >* {
            display: grid;
            justify-content: center;
        }

        &:hover {
            opacity: 1;
        }
    }

    .group-footer {
        width: 100vw;
        height: 6.25rem;

        .add-task {
            border-block-end: 1px solid $table-border;

            >* {
                border-block-end: 0;
            }

            >.last-col {
                border-inline-start: 0;
            }

            >.side {
                border-bottom-left-radius: 5px;
            }

            input[type="text"] {
                background-color: transparent;
                border: none;
                outline: none;
                font-size: 0.875rem;
                // padding: 5px 1.625rem;
                border-radius: 3px;
                margin: 6px 10px;
                padding: 2px 0 3px 1rem;

                &:focus {
                    border: 1px solid $primary-color;
                }
            }

            &:hover:not(:focus-within) {
                background-color: $lighter-grey;
                box-shadow: 4px 3px 6px -3px $selectable-cluster-border;

                input {
                    border: 1px solid $table-border;
                }
            }



            &.focus-bgc {
                background-color: $primary-selected-color;
            }
        }
    }

}