.group-preview {

    margin-block-end: 2.5rem;

    &:first-child {
        margin-block-start: 1rem;
    }

    .group-title {
        height: 2.5rem;
    }

    .table-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill) 1fr;
        justify-content: start;
        grid-auto-flow: column;
        height: 2.25rem;

        // &:first-child {
        //     border-top-left-radius: 5px;
        // }

        // &:last-child {
        //     border-bottom-left-radius: 5px;
        // }

        :first-child {
            border: none;
        }

        >* {
            border-block-start: 1px solid $primary-background-hover-color;
            border-right: 1px solid $primary-background-hover-color;
            height: 100%;
        }

        .side {
            // background-color: gray;
            width: 0.375rem;

            &.first {
                border-top-left-radius: 5px;
            }
        }

        .title-col {
            width: 22.25rem;
        }

        .members-col {
            width: 6.25rem;
        }

        .status-col {
            width: 8.75rem;
        }

        .priority-col {
            width: 8.75rem;
        }

        .duedate-col {
            width: 8.75rem;
        }

        .last-col {
            min-width: 4.25rem;
            border-inline-end: none;
        }
    }

    >.main-layout {

        >* {
            height: 2.25rem;
        }
    }

    .start {
        width: 100%;
        opacity: 0;

        >* {
            display: grid;
            justify-content: center;
        }

        &:hover {
            opacity: 1;
        }
    }

    .add-task {
        border-block-end: 1px solid $primary-background-hover-color;
        border-block-start: 1px solid $primary-background-hover-color;

        .side {
            background-color: gray;
            width: 0.375rem;
            border-bottom-left-radius: 5px;
        }

        :last-child {
            border: none;
        }
    }

    // >.m2 {
    //     height: 2rem;
    // }

    // & .left-border-container {
    //     background-color: blue;
    //     grid-column: 1;
    //     width: 0.375rem;
    // }

    // & .check-row {
    //     grid-column: 1;
    //     width: 2rem;
    //     border-inline-start: 6px solid blue;
    // }
}