.progress-bar {

    >* {
        border-block-end: 1px solid $table-border;
    }

    >.side,
    >.checkbox,
    >.title-col {
        border: none;
    }

    .status-cell,
    .priority-cell {
        background-color: inherit;
        // width: 100%;

        >.inner-progress-ber {
            height: 1.5rem;
            width: calc(8.75rem - 1rem);
            background-color: $default-task-val-bgc;
        }
    }

    :nth-child(4) {
        border-bottom-left-radius: 5px;
    }

    .plus-container {
        display: none;
    }
}