.progress-bar {

    >.side,
    >.checkbox,
    >.title-col {
        border-block-end: 0;
        border-inline-end: 0;
    }

    >.progress-cell {
        >&:first-of-type {
            border-inline-start: 1px solid $primary-background-hover-color;
        }
    }
}