.task-preview {

    &:hover {

        .table-row {

            box-shadow: 4px 3px 6px -3px $selectable-cluster-border;
            background-color: $lighter-grey;

            // >.status-cell,
            // >.priority-cell {
            //     opacity: 0.85;
            // }

            &.checked {
                background-color: $primary-selected-color;
            }
        }

        .task-menu {
            opacity: 1;
        }
    }

    .table-row {

        &.checked {
            background-color: $primary-selected-color;
        }
    }

    .task-menu {
        opacity: 0;
    }

}