.task-preview {

    &:hover {
        background-color: $grey-background-color;
        box-shadow: 4px 3px 6px -3px $selectable-cluster-border;
    }

    &.checked {
        background-color: $primary-selected-color;
    }

    min-width: 100vw;
}